<div class="container-fluid height">
  <div class="row height">
    <div class="col-md-2">
      <div class="wrapper-nav">
        <a routerLink="/register">Click to Regsiter</a>
        <a routerLink="/login">Click to Login</a>
        <a routerLink="/table">Click to View Data</a>
      </div>
    </div>
    <div class="col-md-10">
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper">
  <div class="item">
    <form
      class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmitLogin()"
      id="form-login"
    >
      <h3>Login</h3>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email-login"
          aria-describedby="emailHelp"
          formControlName="loginEmail"
          [ngClass]="{ 'is-invalid': loginSubmitted && fl.loginEmail.errors }"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
        <div *ngIf="loginSubmitted && fl.loginEmail.errors" class="error" >
            <div *ngIf="!fl.loginEmail.errors.required && fl.loginEmail.errors.email">Enter valid email id</div>
            <div *ngIf="fl.loginEmail.errors.required">Enter  email id</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" formControlName="loginPassword" class="form-control" id="password-login" [ngClass]="{ 'is-invalid': loginSubmitted && fl.loginPassword.errors }" />
        <div *ngIf="loginSubmitted && fl.loginPassword.errors" class="error" >
            <div *ngIf="fl.loginPassword.errors.required">Password is required</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled] = "loginForm.invalid && loginForm.touched ? true : loginForm.invalid && !loginForm.touched ? false : true " >Submit</button>
    </form>
  </div>

  <div class="item">
    <form class="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()" id="form-register">
      <h3>Register</h3>
      <div class="mb-3">
        <label for="name" class="form-label">Enter Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
          formControlName="name"
          [ngClass]="{ 'is-invalid': registerSubmitted && fg.name.errors }"
        />
        <div *ngIf="registerSubmitted && fg.name.errors" class="error">
            <div *ngIf="fg.name.errors.required"> Name is required </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Enter Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          formControlName="email"
          [ngClass]="{ 'is-invalid': registerSubmitted && fg.email.errors }"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
        <div *ngIf="registerSubmitted && fg.email.errors" class="error" >
            <div *ngIf="!fg.email.errors.required && fg.email.errors">Enter valid email id</div>
            <div *ngIf="fg.email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Enter Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'is-invalid': registerSubmitted && fg.password.errors }"/>
        <div *ngIf="registerSubmitted && fg.password.errors"  class="error">
            <div *ngIf="fg.password.errors.required">password is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Re-Enter Password</label>
        <input type="password" class="form-control" id="password"  formControlName="confirmPassword" [ngClass]="{ 'is-invalid': registerSubmitted && fg.confirmPassword.errors }"/>
        <div  *ngIf="registerSubmitted && fg.confirmPassword.errors" class="error" >
            <div *ngIf="fg.confirmPassword.errors.required" >password is required</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div> -->
