<!-- <form class="login-form" [formGroup]="registerForm" id="form-register">
  <h3>Register</h3>
  <div class="mb-3">
    <label for="name" class="form-label" >Enter Name</label>
    <input type="text" class="form-control" id="name"  aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label" >Enter Email address</label>
    <input type="email" class="form-control" id="email"  aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Enter Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Re-Enter Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<div class="item">
    <form class="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()" id="form-register">
      <h3>Register</h3>
      <div class="mb-3">
        <label for="name" class="form-label">Enter Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
          formControlName="name"
          [ngClass]="{ 'is-invalid': registerSubmitted && fg.name.errors }"
        />
        <div *ngIf="registerSubmitted && fg.name.errors" class="error">
            <div *ngIf="fg.name.errors.required"> Name is required </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Enter Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          formControlName="email"
          [ngClass]="{ 'is-invalid': registerSubmitted && fg.email.errors }"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
        <div *ngIf="registerSubmitted && fg.email.errors" class="error" >
            <div *ngIf="!fg.email.errors.required && fg.email.errors">Enter valid email id</div>
            <div *ngIf="fg.email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Enter Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'is-invalid': registerSubmitted && fg.password.errors }"/>
        <div *ngIf="registerSubmitted && fg.password.errors"  class="error">
            <div *ngIf="fg.password.errors.required">password is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Re-Enter Password</label>
        <input type="password" class="form-control" id="password"  formControlName="confirmPassword" [ngClass]="{ 'is-invalid': registerSubmitted && fg.confirmPassword.errors }"/>
        <div  *ngIf="registerSubmitted && fg.confirmPassword.errors" class="error" >
            <div *ngIf="fg.confirmPassword.errors.required" >password is required</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
